$fonte:Fira Sans, sans-serif;
$corp: black;



h1 {
    font-family:3.2em Fira Sans; color: rgb(10, 10, 131);

}
a{ // cor do botão novo livro
  color: rgb(16, 105, 207);
  font-family: $fonte;
  text-decoration: none;
}
label{
    color: $corp;
    font-family: $fonte;
    text-decoration: none;
}
.bode {
    background-color: rgb(242, 253, 253);

    }
.table{
    font-family: Fira Sans, sans-serif;
    border-collapse: collapse;
    width: 75%
}
// #coluna_nome {
//     font-family: Geneva, Verdana, sans-serif;
//     color: blue;
// }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: #fffefe;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}
