h1 {
  font-family: 3.2em Fira Sans;
  color: rgb(10, 10, 131);
}

body {
  background-color: rgb(242, 252, 252);
}

.table {
  font-family: Fira Sans, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
